DATABASE_URL=postgresql://postgres:uday@localhost:5432/evo_event?schema=public

JWT_VERIFICATION_TOKEN_SECRET=7AnEd5epXmdaJfUrokkQ
JWT_VERIFICATION_TOKEN_EXPIRATION_TIME=21600
EMAIL_CONFIRMATION_URL=https://my-app.com/confirm-email`

SMTP_USERNAME="emailapikey"
SMTP_PASSWORD="PHtE6r0NQOvrjWIpp0cJ4vPsQpSjYYsprOkxJFUWs4wXXPZWGE1QqN59lzLjrBYpUvlGFqWTwNpotrqc4e/QdGnpM2tOXmqyqK3sx/VYSPOZsbq6x00ftVoYfkLbVYLscdBp3CXUvdiX"
SMTP_PORT=587
SMTP_HOST="smtp.zeptomail.in"

REDIS_HOST=localhost
REDIS_PORT=6379